.addresspage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Set the height to full viewport height */
	background-color: rgb(127, 197, 248);
	
}
  
  .addresspage-title {
	font-size: min(8vw, 50px);
	margin-bottom: 20px;
	color: #fff;
	
  }

  .calc-button {
	padding: 8px 15px;
	font-size: 20px;
	background-color: #f89a1e; /* Blue color, you can change this */
	color: #fff; /* White text color */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
  }
  